{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Расчет дней до дня рождения
{% endblock title %}

{% block content %}

  {% with data=form.instance %}

    <!-- Раздел в котором определяется каким будет заголовок формы -->
    <div class="card col-4">
      <p class="card-header text-center">
        {% if "/create/" in request.path %}
          <b>Создание новой записи.</b>
        {% elif "/delete/" in request.path %}
          <b>Удаление записи № {{ data.id }}.</b>
        {% elif "/preview/" in request.path %}
          <b>Просмотр записи № {{ data.id }}.</b>
        {% elif "/edit/" in request.path %}
          <b>Редактирование записи № {{ data.id }}.</b>
        {% endif %}
      </p>

      <!-- Раздел формы -->
      <div class="card-body">
        <form action="#" method="post">
          {% csrf_token %}

          <!-- Раздел в котором определяется как будут рендерится поля -->
          {% if inactive_attrs %}
            {% for field_name, attr in inactive_attrs.items %}
              <div class="mb-3">
                <label class="form-label" for="{{ attr.input_id }}">{{ attr.label }}</label>
                <input class="form-control" value="{{ attr.str_value }}" type="{{ attr.type }}" disabled name="{{ field_name }}" placeholder="{{ attr.label }}" id="{{ attr.input_id }}">
                <div id="{{ field_name }}Help" class="form-text">{{ attr.help_text }}</div>
              </div>
            {% endfor %}
          {% else %}
            {% bootstrap_form form %}
          {% endif %}

          <!-- Раздел в котором определяется какие кнопки будут рендерится -->
          <a class="btn col-12 btn-outline-primary" href="{% url 'birthday:list' %}" role="button">Вернутся к списку &#x1F519;</a>
          <p></p>
          {% if "/create/" in request.path %}
            <input class="btn col-12 btn-outline-warning" type="reset" value="Очистить &#x274C;">
            <p></p>
            <input class="btn col-12 btn-outline-success" type="submit" value="Сохранить &#x2714;">
          {% elif "/delete/" in request.path %}
            <input class="btn col-12 btn-outline-danger" type="submit" value="Удалить &#x1F5D1;">
          {% elif "/edit/" in request.path %}
            <input class="btn col-12 btn-outline-warning" type="reset" value="Вернуть изходные значения &#x1F504;">
            <p></p>
            <input class="btn col-12 btn-outline-success" type="submit" value="Изменить &#x2714;">
          {% endif %}

        </form>
      </div>
    </div>
    <p></p>

    <!-- Окошко с количесвтом дней до дня рождения. -->
    {% if "/preview/" in request.path %}
      <div class="card col-4">
        <div class="card-body text-center">
          {% if days_to_brt == 0 %}
            <h5>&#x1F382;&#x1F389; С днем рождения!!! &#x1F389;&#x1F382;</h5>
          {% elif days_to_brt > 0 %}
            <h5>Дней до дня рождения: {{ days_to_brt }}! &#x1F609;</h5>
            {% if days_to_brt > 355 %}
              Недавно {{ data.first_name }} справлял день рождения!
            {% elif days_to_brt < 10 %}
              Скоро у {{ data.first_name }} день рождения... <br> Пора готовить поздравления!
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}

  {% endwith %}
{% endblock content %}
